body {
  padding: 0;
  margin: 65px 0px 0px;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
}

#content {
  display: flex;
  flex-flow: row nowrap;
}

#header {
  font-size: 250%;
  color:white;
  background-color: DarkSlateBlue;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;

}

#left-column {
  width: 80%;
}

#right-column {
  width: 20%;
  background-color: LightGoldenRodYellow;
  border-style: groove;
  margin: 2px 0px 2px 0px;

}

.housing-option {
  display: flex;
  padding: 35px;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: LightGoldenRodYellow;
  border-style: groove;
  margin: 2px 2px 2px 2px;

}
.housing-info {
  display: flex;
  flex-flow: column wrap;
}
.housing-photo {
  max-width: 300px;

}
h1 {
  font-size: 185%;
  font-family: 'Raleway', sans-serif;
}

.footer {
  padding: 3px;
  font-size: 100%;
  color:white;
  background-color: DarkSlateBlue;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;

}
