body {
  padding: 0px;
  margin: 65px 0px 0px 0px;
}

.content-box {
  color: black;
  background-color: white;
  margin: 5px;
  padding: 10px;
}

#title {
  font-size: 250%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding-left: 10px;
}

#subtitle {
  font-weight: 600;
}

#header a {
  text-decoration: none;
  color: white;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
}

#links {
  font-size: 150%;
  float:right;
  padding: 2px;
  margin: 7px 17px 2px 0px;
}

#content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#header {
  color:white;
  background-color: DarkSlateBlue;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;

}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: DarkSlateBlue
}

#left-column {
  width: 80%;
  background-color: #212121;
}
#left-lower-column{
  width: 80%;
  background-color: #FAFAFA;
}
#right-column {
  width: 20%;
  background-color: #212121;
}

.housing-option {
  display: flex;
  padding: 35px;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #FAFAFA;
  margin: 5px;
}

.housing-info {
  display: flex;
  flex-flow: column wrap;
}

.housing-photo {
  max-width: 300px;
  border: 1px solid #212121;
}

#housing-option {
  color: DarkSlateBlue;
  font-size: 24pt;
  font-weight: 600;
  font-family: Montserrat;
  text-decoration: none;
}

#ID {
  font-size: 12pt;
}

.footer {
  padding: 3px 0px 3px 0px;
  color:white;
  background-color: DarkSlateBlue;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;

}
