<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="submission" method="POST" action="/update-database">
      <input type="text" name="option-name" placeholder="Name of the housing option" required>
      <input type="text" name="option-location" placeholder ="Address of Location" required>
      <p>Rating</p>
      <input type="radio" name="option-rating" value="1.0"> 1
      <input type="radio" name="option-rating" value="2.0"> 2
      <input type="radio" name="option-rating" value="3.0"> 3
      <input type="radio" name="option-rating" value="4.0"> 4
      <input type="radio" name="option-rating" value="5.0"> 5
      <input type="submit" name="submit" value="Add Housing Option" class="button" id="submit">
    </form>
  </body>
</html>
